/* USE BEM METHODOLOGY WHILE CREATING CSS CLASSES */

/* BLOCK */
/* Standalone entity that is meaningful on its own. */
/* Examples */
/* header, container, menu, checkbox, input */

/* ELEMENT */
/* A part of a block that has no standalone meaning and is semantically tied to its block. */
/* Examples */
/* menu item, list item, checkbox caption, header title */

/* MODIFIER */
/* A flag on a block or element. Use them to change appearance or behavior. */
/* Examples */
/* disabled, highlighted, checked, fixed, size big, color yellow */

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100vh;
  font-family: "Helvetica Neue", Arial, sans-serif;
  color:#45454a;
}

img {
  max-width: 90%;
  height:auto;
}

header {
  padding: 156px 0 100px;
}

section {
  padding: 150px 0;
}

a {
  color:#35353b;
  text-decoration: none !important;
}


.header-logo-font {
font-family: 'Baloo Bhai', cursive;
}

.header-icon-red {
  color: orange;
}


.issue-shadow:hover {
  box-shadow: 0px 0px 5px  #45454a;
}

.bg-img {
  background-image: url("img/cback.png" );
  background-repeat: no-repeat;
  background-position: bottom -400px right 0px ; 
  background-size: 100%;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

/* CUSTOM BOOTSTRAP */

.btn-warning{
background-color:#A69596;
color: #45454a;
border-color: white;
}

/* Pagination styles */

.page-link:hover {
    z-index: 2;
    color: #463837;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color:#A69596;
    border-color:#969696;
}

.page-link {
    color: #A69596;
}

/* Desktop screens 25 inch + */
@media only screen and (min-width: 2000px) {
.bg-img {
  background-position: bottom -720px right 0px; 
}
}

/* Tablets */
@media only screen and (max-width: 1000px) {
.bg-img {
  background-position: bottom -220px right 0px ; 
}
}

/* Phones */
@media only screen and (max-width: 700px) {
section {
  padding: 80px 0;
}
.bg-img {
  background-position: bottom -20px right 0px ; 
}
}
