{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load bootstrap_tags %}
{% block form %}
<h2 class="mb-4"> {{ title }} </h2>
<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form | as_bootstrap }}
  <button type="submit" class="form-inline btn btn-warning text-white">Submit</button>

    {% if issue_name == 'Feature' %}
    <a href={%url 'get_features' %} class='form-inline btn btn-warning text-white'> Back
    {% else %}
    <a href={%url 'get_bugs' %} class='form-inline btn btn-warning text-white'> Back
    {% endif %}

  </a>
</form>
{% endblock form %}
