{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block form %}
{% if bug.issue_type == 'Feature' %}
{% if in_cart %}
<form class='float-right' method="post" action="{% url 'remove_ticket_in_issue' bug.id %}">
  {% csrf_token %}
  <input type="hidden" name="quantity" value="0">
  <button type='submit' class='btn btn-warning text-white'>Your vote is in cart <i class="fa fa-dolar"></i></button>
</form>
{% else %}
<form class='float-right' method="post" action="{% url 'add_to_cart' bug.id %}">
  {% csrf_token %}
  <input type="hidden" name="quantity" value="1">
  <button type='submit' class='btn btn-warning text-white' data-toggle="tooltip" data-placement="top" title="Vote cost is 10$">Upvote {{ bug.upvotes }}
    {% if upvoted %}
    <i class="fa fa-hand-paper-o text-white"></i>
    {% else %}
    <i class="fa fa-hand-pointer-o text-white"></i>
    {% endif %}</button>
</form>
{% endif %}
{% else %}
<span class="btn btn-warning float-right">
  <a href="{% url 'upvote_bug' bug.id  %}" class="text-white">Vote {{ bug.upvotes }}</a>
  {% if upvoted %}
  <i class="fa fa-hand-paper-o text-white"></i>
  {% else %}
  <i class="fa fa-hand-pointer-o text-white"></i>
  {% endif %}
</span>
{% endif %}
<h3>{{ bug.title }}</h3>
<div class="card mt-4">
  <div class="card-header">
    <span class="float-left mr-2">
      {% ifequal bug.status "Waiting" %}
      <div class="badge badge-secondary">Waiting</div>
      {% endifequal %}
      {% ifequal bug.status "In progress" %}
      <div class="badge badge-warning">In progress</div>
      {% endifequal %}
      {% ifequal bug.status "Completed" %}
      <div class="badge badge-success">Completed</div>
      {% endifequal %}
    </span>
    {{ bug.id }}
    Opened on:
    <i>{{ bug.created_date }}</i>
    by
    <i>{{ bug.username }}</i>
    {% if bug.username == user %}
    <a href="{% url 'edit_bug' bug.id  %}" class='float-right'>Edit</a>
    {% endif %}
  </div>
  <div class="card-body">
    {{ bug.content }}
    {% if bug.image %}
    <br>
    <br>
    <img src="{{host_images_link}}{{bug.image}}" alt="image">
    {% endif %}
  </div>
</div>
</div>
</div>
<div class="col-lg-8 mx-auto">
  <h4 class="mt-4"> Comments: </h4>
</div>
{% for comment in comments %}
<div class="col-lg-8 mx-auto">
  <div class="card mt-4">
    <div class="card-header">
      <i>{{ comment.created_date }}</i>
      by
      <i>{{ comment.username }}</i>
    </div>
    <div class="card-body">
      {{ comment }}
    </div>
  </div>
</div>
{% endfor %}
<div class="col-lg-8 mx-auto">
  <div class="btn btn-warning float-right mt-2">
    <a href="{% url 'add_comment_bugs' bug.id  %}" class="text-white"> Add comment </a>
  </div>
  <div class="btn btn-warning float-left mt-2">
    {% if issue_name == 'Feature' %}
    <a href="{% url 'get_features' %}" class="text-white">Go back to features list</a>
    {% else %}
    <a href="{% url 'get_bugs' %}" class="text-white">Go back to bug list</a>
    {% endif %}
  </div>
</div>
<!-- Show pagination only if number of pages is higher than 1, in other case -->
<!-- simply dont show nothing at all -->
<br>
<br>
<div class="col-lg-8 mx-auto mt-5">
  <nav aria-label="comment pagination" class="mt-5">
    <ul class="pagination">
      {% if comments.has_previous %}
      <a class="page-link" href="?page={{ comments.previous_page_number }}">Previous</a>
      {% endif %}
      {% for page in comments.paginator.page_range %}
      {% if comments.number == page and comments.paginator.num_pages != 1 %}
      <li class="page-item active">
        <a class="page-link" href="#">{{ page }} <span class="sr-only">(current)</span></a>
      </li>
      {% elif comments.paginator.num_pages != 1 %}
      <li class="page-item"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
      {% endif %}
      {% endfor %}
      {% if comments.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ comments.next_page_number }}">Next</a>
      </li>
      {% endif %}
    </ul>
  </nav>
</div>
{% endblock form %}

