{% extends "base.html" %}
{% block content %}
	{% block styled_message_title %}
	{% endblock styled_message_title %}
	{% block styled_message %}
	{% endblock styled_message %}

  <section id="login" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="border-bottom mb-4" >Check your email</h2>
          <p>An email has been sent with instructions to reset your password</p>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}
