{% extends "base.html" %}
{% block content %}

<!-- SEO -->
{% block keywords%} {% endblock %}
{% block description %} {% endblock %}
{% block author %}{% endblock %}
{% block title %} Password reset {% endblock title %}
<!-- END SEO -->

<section id="forms" class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2 class="border-bottom mb-4">Password reset</h2>
        <p class="alert alert-info">
          Your password has been set.
        </p>
        <a href="{% url 'login' %}">Sign In Here</a>
      </div>
    </div>
  </div>
</section>

{% endblock content %}

