{% extends "base.html" %}
{% load bootstrap_tags %}

<!-- SEO -->
{% block keywords%} {% endblock %}
{% block description %} {% endblock %}
{% block author %}{% endblock %}
{% block title %} Password reset {% endblock title %}
<!-- END SEO -->

{% block content %}
<section id="forms" class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2 class="border-bottom mb-4">Password reset</h2>
        <p>Type email to account you want to reset:</p>
        <form method="POST">
          {% csrf_token %}
          <fieldset class="form-group">
            {{ form | as_bootstrap }}
          </fieldset>
          <div class="form-group">
            <button class="btn btn-info" type="submit">Request Password Reset</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock content %}

