{% extends 'base.html' %}

<!-- SEO -->
{% block keywords%}	Register, extra functionality, {% endblock %}	
{% block description %} This is a registration page, you can create account here{% endblock %}
{% block author %} Marcin Mrugacz {% endblock %}	
{% block title %} Registration Page  {% endblock title %}
<!-- END SEO -->

{% block forms %} 
  <section id="login">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>User registration</h2>
					<p> If you already have an account, you can 
					<a href="{% url 'login' %}">sign in</a></p>
          <p Enter your credentials here</p>
					<form action="" method="post" class="lead">
						{% csrf_token %}
						<button type="submit">Login</button>
					</form>
        </div>
      </div>
    </div>
  </section>

{% endblock forms %} 
