{% extends 'base.html' %}
{% load mathfilters %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block form %}
<h1>Your cart</h1>
{% if total != 0 %}
{% if cart_items == '[]' %}
<h1>empty</h1>
{% endif %}
<div class="card mt-5">
  <div class="card-header jenter">
    Summary
  </div>
  <div class="card-body ">
    <table class='table table-small '>
      <tr class='bottom-border'>
        <th>Items</th>
        <th>votes</th>
        <th>Price</th>
        <th>Action</th>
      </tr>
      {% for item in cart_items %}
      <tr>
        <td><a href=" {% url 'get_bug_detail' item.ticket.id %}">{{item.ticket.title}} </a></td>
        <td> {{ item.quantity }} </td>
        <td>{{item.price|mul:item.quantity }} $</td>
        <td class="form-inline">
          <form class='ml-2 form-inline' method="post" action="{% url 'remove_one' item.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-warning text-white btn-sm form-inline">
              <i class="fa fa-minus" aria-hidden="true"></i>
            </button>
          </form>
          <form class='ml-2 form-inline' method="post" action="{% url 'add_one' item.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-warning text-white btn-sm form-inline ">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
          </form>
          <form class='ml-2' method="post" action="{% url 'remove_ticket' item.id %}">
            {% csrf_token %}
            <input name='quantity' type="hidden" value="0">
            <button type="submit" class="btn btn-danger text-white btn-sm form-inline">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </table>
    <hr>
  </div>
  {% if total == 0 %}
  <div class="form-group float-right">
    <button class="btn mr-5" role="button">Checkout</button>
  </div>
  {% else %}
  <div class="form-group float-right">
    <h3 class="float-left ml-4">Total: {{ total }} $ </h3>
    <a href="{% url 'checkout' %}" class="float-right btn btn-success mr-4" role="button">Checkout <i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
  </div>
  {% endif %}
</div>
<div class="mt-5"> </div>
</div>
</div>
</div>
{% else %}
<div class="card mt-5">
  <div class="card-header">
    Summary
  </div>
  <div class="card-body">
    <div class="alert alert-warning" role="alert">
      <h4 class="alert-heading">Nothing in cart!</h4>
      <p>You have nothing in your cart yet. </p>
      <hr>
      <p class="mb-0">Try to navigate to features and maybe you will find
        something you want to purchase ?</p>
      <p>If you don't know already we are selling votes for features that will
        be implemented in future.</p>
      <p class="mb-0"> Thank You for your support ! </p>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
