{% extends 'base.html' %}
{% block content %}
<div class="card-body">
  <section id="forms">
    <div class="container">
      <div class="row">
          <div class="col-md-6 mx-auto">
            <div class="alert alert-danger" role="alert">
              <h4 class="alert-danger">500 error</h4>
              <p>We could not find link you were looking for</p>
              <hr>
              <img src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fassets.stickpng.com%2Fthumbs%2F5863ef417d90850fc3ce296d.png&f=1" alt="image">
              <p class="mb-0">Check your url address once again</p>
              <p>Maybe you wrote it wrong? </p>
            </div>
          <div class="col-md-6">
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}

